@font-face{
    font-family:'Nasalization';
    src:url('Fonts/nasalization-rg-webfont.woff');
}


body{
	background-color: black;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
	font-family: Nasalization;
    margin: 20px;
    color: white;
    font-size: 20px;
}

h1, footer, .speed, .range{ 
    text-align: center;
}

.snelheid, .afstand, .route, .gravity{
    background-color: rgba(65, 101, 110, 0.5);
    border-radius: 25px;
    padding: 20px;
    margin: 20px;
}

h3,p{
    margin: 20px;
}

#snelheidsbalk, #gasbalk{
    position: relative;
    background-color: rgb(255, 255, 255);
    margin: 30px;
    overflow: hidden;
}

#balk{
    background-color: rgb(169, 255, 119);
    width: 0px;
    height: 50px;
}

#fuelbalk{
    background-color: rgb(85, 85, 255);
    width: 100%;
    height: 50px;
}

input{
    margin-left: 30px;
    margin-bottom: 20px;
    width: 170px;
    height: 55px;
    font-size:25px;
    font-family: Nasalization;
    color: rgb(255, 255, 255);
    background-color: black;
}

.text, .logo{
    display: none;
}

img{
    width: 600px;
    height: auto;
    margin: auto;
    display: block;
}



/* Layout*/
.snelheid{
    grid-area: snelheid;
}
.afstand{
    grid-area: afstand;
}
.route{
    grid-area:route;
}
#snelheidsbalk{
    grid-area: snelheidsbalk;
}
#gasbalk{
    grid-area: gasbalk;
}
.title{
    grid-area: title;
}
.title2{
    grid-area: title2;
}
.speed{
    grid-area: speed;
}
.range{
    grid-area: range;
}
.gravity{
    grid-area: gravity;
}
.logo{
    grid-area: logo;
}


@media only screen and (min-width: 768px) and (max-width: 1365px){

    .text{
        display: block;
    }

    body{
        font-size: 22px;
    }
}

@media only screen and (min-width: 1366px) and (max-width: 1919px){
    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "snelheid snelheid"
        "afstand afstand"
        "route gravity";
        gap: 20px;
    }

    body{
        font-size: 18px;
    }

    .balken{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "title title2" 
        "snelheidsbalk gasbalk"
        "speed range";
    } 
    .text{
        display: block;
    }
}

@media only screen and (min-width: 1920px){
    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "snelheid snelheid"
        "afstand route"
        "gravity logo";
        gap: 20px;
    }    
    .balken{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "title title2" 
        "snelheidsbalk gasbalk"
        "speed range";
    }
    .text{
        display: block;
    }

    body{
        font-size: 20px;
    }
    .logo{
        display: block;
        padding-top: 180px;
    }
}