@font-face{
    font-family:'Nasalization';
    src:url('Fonts/nasalization-rg-webfont.woff');
}

body{
	background-color: black;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
	color: #ffffff;
	font-family: Nasalization;
	font-size: 12px;
    margin: 20px;
}

h1, footer, .a{ 
    text-align: center;
}

.memo{
    font-style: italic;
    color: rgb(252, 231, 191);
}

.snelheid, .afstand, .route{
    background-color: rgb(65, 101, 110);
    border-radius: 25px;
}

h2,p{
    margin: 20px;
}

#snelheidsbalk, #gasbalk  {
    position: relative;
    background-color: rgb(255, 255, 255);
    margin: 30px;
    overflow: hidden;
}

#balk{
    background-color: rgb(169, 255, 119);
    width: 0px;
    height: 50px;
}

#fuelbalk{
    background-color: rgb(85, 85, 255);
    width: 100%;
    height: 50px;
}

input{
    margin-left: 30px;
    margin-bottom: 20px;
    width: 150px;
    height: 50px;
    font-size: 25px;
    font-family: Nasalization;
    color: rgb(255, 255, 255);
    background-color: black;
}
